
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Overpass", sans-serif;
font-size: 15px;
color: white;
margin: 1.5rem;
background-color: hsl(216, 12%, 8%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
}

p {
    line-height: 1.8;
}

button {
    font-family: inherit;
}

.container, .thank-you {
    background-color:hsl(213, 19%, 18%);
   padding: 1.5rem;
   border-radius: 0.7rem;
   max-width: 400px;

}

.container h1 {
    margin: 2rem 0 1rem;
}

.container img {
    background-color: hsl(213, 16%, 27%);
    padding: 0.7rem;
    border-radius: 50%;
}

.container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.container ul li button {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 16%, 27%);
    color: white;
    padding-top: 0.1rem;
    cursor: pointer;
    transition: 0.4s;

}

.container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
}
.container ul li button:focus {
    background-color: hsl(217, 12%, 63%)
}

.submit {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 2rem;
   padding: 0.8rem 0 0.6rem;
   width: 100%;
   color: hsl(216, 12%, 8%);
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   cursor: pointer;
   transition: 0.4s;
   font-weight: 600;
   margin-bottom: 1rem;
}

.submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.rating {
    background-color: hsl(213, 16%, 27%);
    border-radius: 2rem;
    color: hsl(25, 97%, 53%);
    padding: 0.1rem 0.5rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.thank-you h2 {
    margin-bottom: 1rem;
}

.thank-you p {
    margin-bottom: 2rem;
    color: hsl(217, 12%, 63%);
}

.hidden {
    display: none;
}